@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --cinza: #667085;
  --vermelho: #8e2424;
  --azul: #101828;
}
* {  
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
/*CONFIGURAÇÕES DO MENU*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.menu{
  display: flex;
  align-items: center;
}
.menu__links a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #3a404e;
  margin-right: 1rem;
}
.menuMobile{
  display: none;
  visibility: hidden;
}
.menu.active{
  right: 0;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.menuMobile img{
  position: relative;
  z-index: 1;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/*AJUSTES DOS BOTÕES DO MENU*/
button{
  font-size: 1rem;
  text-decoration: none;
  color: #667085;
  padding: 1rem;
  border: none;
  border-radius: 0.725rem;
  background: none;
}

.botao__cadastrar {
  background-color: #8e2424;
  color: #ffffff;
}
.sobre__nos {
  text-align: center;
  padding: 4rem;
}
.sobre__nos span {
  color: var(--vermelho);
  font-weight: 600;
  font-size: 1rem;
  display: block;
  padding-bottom: 2.5rem;
}
.sobre__nos h1 {
  color: var(--azul);
  font-size: 3rem;
  display: block;
  padding-bottom: 2.5rem;
}

.sobre__nos p {
  color: var(--cinza);
  font-size: 1.25rem;
  display: block;
  padding-bottom: 4rem;
  width: 49.5rem;
  margin: 0 auto;
  text-align: center;
}
.metricas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  padding: 0 8rem;
}
.metricas h1 {
  font-size: 3.75rem;
  color: var(--vermelho);
  padding-bottom: 2rem;
  font-weight: 600;
}
.metrica__titulo {
  font-size: 1.125rem;
  color: var(--azul);
  padding-bottom: 1rem;
  font-weight: 500;
}
.metricas p {
  font-size: 1rem;
  color: var(--cinza);
  padding-bottom: 1rem;
  font-weight: 400;
}
.vagas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vagas span {
  padding: 0.3% 2% 0.3%;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: rgb(249, 244, 244);
  border-radius: 25px;
  font-size: 0.875rem;
  color: var(--vermelho);
  font-weight: 500;
}
.vagas h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--azul);
  margin-bottom: 50px;
}
.vagas p {
  font-size: 1.25rem;
  color: var(--cinza);
  margin-bottom: 60px;
}
.vagas__area {
  padding: 2% 25% 2%;
  display: flex;
  color: var(--azul);
  font-size: 1.25rem;
  font-weight: 500;
}
.vaga {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1% auto;
  border: 1px #eaecf0 solid;
  border-radius: 15px;
  padding: 1% 5% 1%;
}
.vaga__titulo {
  color: var(--azul);
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 5%;
}
.vaga__conteudo {
  color: var(--cinza);
  font-size: 1rem;
}
.vaga__conteudo__time {
  margin-right: 30px;
}
.vaga__conteudo__salario {
  margin-left: 30px;
}
.depoimentos {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  background-color: rgb(249, 244, 244);
  border-radius: 15px;
  text-align: center;
}
.depoimentos span {
  padding: 2%;
  color: var(--vermelho);
  font-size: 0.875rem;
  font-weight: 600;
}
.depoimentos h1 {
  color: var(--azul);
  font-size: 2.25rem;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  line-height: 40px;
  padding-bottom: 2%;
}
.depoimentos img {
  width: 5%;
  margin: 0 auto;
}
.depoimentos h2 {
  color: var(--azul);
  font-size: 1rem;
  padding: 0.0025rem;
  font-weight: 600;
}
.depoimentos p {
  color: var(--cinza);
  font-size: 0.875;
  padding-bottom: 3%;
}
.rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3%;
  background-color: #f9fafb;
  margin-top: 3%;
}
.rodape__texto h1 {
  font-size: 2.25rem;
  color: var(--azul);
  font-weight: 600;
}
.rodape__texto p {
  font-size: 1.25rem;
  color: var(--cinza);
  font-weight: 400;
  padding: 2%;
}
.rodape input {
  outline: none;
  border: 1px solid #d0d5dd;
  border-radius: 0.5rem;
  padding-left: 1rem;
  width: 20rem;
  height: 3rem;
  margin-right: 1rem;
}
.rodape button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  background-color: var(--vermelho);
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.9rem;
}
.rodape span {
  color: var(--cinza);
  font-weight: 200;
  padding: 1%;
}
/*Responsividade da página*/
@media screen and (max-width: 920px){
  .metricas{
    padding: 0 4rem;
  }
}
@media screen and (max-width: 850px){
  .metricas{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .metrica{
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
    .metrica span{
      max-width: 280px;
      text-align: center;
    }
    .sobre__nos p{
      max-width: 70%;
    }
    .vaga{
      max-width: 70%;
    }
    .vagas__abertas span.vagas__area{
      max-width: 70%;
    }
    .depoimentos{
      margin-top: 4%;
    }
    .depoimentos h2{
      max-width: 100%;
      font-size: 120%;
    }

    .menuMobile{
      display: initial;
      visibility: visible;
    }
    .menu__links{
      margin: 2rem 0;

      
    }
    .menu__links a{
      margin-right: 0;
      padding: 5%;
      
    }
    .menu {
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -1000px;
      height: 100vh;
      background: #F9FAFB;
      width: 15rem;
      padding: 2rem;
      transition: all 2s;
    }
    .menu .menu__links, .menu .menu__botoes{
      display: flex;
      flex-direction: column;
      width: 100%;

    }
}
